:root {
    --navbar-height: 70px;
    --navbar-height-n: -70px;
    --bg-main-one: #091242;
}

.py-7 {
    padding-top: 6rem !important;
    padding-bottom: 6rem !important;
}

.text-main-two {
    color: #ffb629;
}

.bg-main-blue {
    background-color: #091242;
}

.bg-main-blue.bg-opacity-25 {
    background-color: rgba(9, 18, 67, 0.5);
}

.bg-main-gradient {
    background: linear-gradient(94.06deg, #ffb629 -1.21%, #ffda56 58.66%, #ffd7a6 116.84%);
}

.bg-two-color {
    background: linear-gradient(90deg, #091242 50%, #f4f4f4 50%);
}

.bg-main-light {
    background-color: #f4f4f4;
}

.header-wrapper {
    padding: 46px;
}

.logo-wrapper {
    display: flex;
    align-items: center;
    height: 100%;
}

.icon-wrapper {
    background-color: #111c55;
    padding: 15px;
    border-radius: 50%;
    border: 1px solid #273270;
    margin-right: 15px;
    width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: #ffffff;
}

.info-wrapper a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
}

.slider-wrapper {
    margin-top: var(--navbar-height-n);
}

.navbar {
    height: var(--navbar-height);
    padding: 0;
}

.navbar-end {
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar-social-media {
    display: flex;
    gap: 10px;
    margin-right: 15px;
}

.navbar-social-media a {
    display: flex;
    align-items: center;
    height: 100%;
}

.navbar-quick-btn {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 50px;
    text-decoration: none;
    color: #000000;
    margin-left: 50px;
}

.icon {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.icon.icon-instagram {
    background-image: url(../img/icon/instagram.svg);
}

.icon.icon-facebook {
    background-image: url(../img/icon/facebook.svg);
}

.icon.icon-x {
    background-image: url(../img/icon/x.svg);
}

.icon.icon-linkedin {
    background-image: url(../img/icon/linkedin.svg);
}

.icon.icon-pattern {
    background-image: url(../img/icon/pattern.svg);
}

.icon.icon-star {
    background-image: url(../img/icon/star.svg);
}

.icon.icon-star.active {
    background-image: url(../img/icon/star-active.svg);
}

.section-top-info {
    background-color: #e8e8e8;
    display: inline-block;
    padding: 8px 4px;
    position: relative;
    &.bg-opacity-10 {
        background-color: rgba(232, 232, 232, 0.1);
    }
    &::before {
        content: "";
        background: linear-gradient(94.06deg, #ffb629 -1.21%, #ffda56 58.66%, #ffd7a6 116.84%);
        display: block;
        width: 4px;
        height: 100%;
        position: absolute;
        left: -4px;
        top: 0;
    }
}

.feature-card {
    display: flex;
    margin-bottom: 70px;
}

.feature-card-image {
    margin-right: 40px;
}

.feature-card-image img {
    width: 76px;
    height: 50px;
}

.feature-card-info {
    border-left: 1px solid #d8d8d8;
    padding-left: 25px;
}

.feature-card-info p {
    color: #666c89;
}

.feature-card-info .title {
    color: #1c1f35;
}

.global-logistics-wrapper {
    background-color: #ffffff;
    position: relative;
    padding: 85px;
    margin-top: -120px;
}

.global-logistics-images {
    position: relative;
}

.global-logistics-images .image-one {
}

.global-logistics-images .image-two {
    position: absolute;
    bottom: -35px;
    left: -40px;
    border-top: 20px solid #ffffff;
    border-right: 20px solid #ffffff;
}

.card-blog {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
}

.card-blog-image,
.card-blog-image img {
    width: 100%;
    height: 100%;
}

.card-blog-content {
    background: rgb(0, 0, 0);
    background: linear-gradient(0deg, rgba(0, 0, 0, 1) 30%, rgba(0, 0, 0, 0) 100%);
    position: absolute;
    z-index: 1;
    bottom: 0;
    right: 0;
    left: 0;
    padding: 60px 25px 25px;
}

.bg-section-blog-gradient {
    $pattern-size: 60px;
    $pattern-bg: -60px;

    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 300px;
    margin-top: -160px;
    padding-top: 80px;
    .btn-content {
        background: linear-gradient(94.06deg, #ffb629 -1.21%, #ffda56 58.66%, #ffd7a6 116.84%);
        display: inline-block;
        position: relative;
        text-decoration: none;
        padding: 15px 30px;
        overflow: hidden;
        color: #000000;
        font-weight: 500;
        border: 1px solid #ffda68;
        border-radius: 3px;
        box-shadow: rgba(33, 35, 38, 0.1) 0 10px 10px -10px;

        & span {
            position: relative;
            z-index: 1;
        }
        &::after {
            content: "";
            background-color: #ffffff;
            position: absolute;
            right: $pattern-bg / 3;
            bottom: $pattern-bg - 20px;
            width: $pattern-size;
            height: $pattern-size * 2;
            border-radius: 50%;
            transform: rotate(15deg);
            transition: all 300ms ease-in-out;
        }
        &:hover::after {
            width: $pattern-size * 3.5;
            height: $pattern-size * 3.5;
        }
    }
}

.slider-testimonial-wrapper {
    .card-testimonial {
        &-header {
            transition: all 300ms;
        }
    }
    .btn-testimonial {
        &-next {
            background-image: url(../img/icon/btn-next.svg);
        }
        &-prev {
            background-image: url(../img/icon/btn-prev.svg);
        }
        &-arrow {
            background-repeat: no-repeat;
            background-size: contain;
            width: 45px;
            height: 45px;
            transition: all 300ms;
            &.swiper-button-disabled {
                opacity: 0.5;
            }
        }
    }
}

.fly-img-right {
    padding: 3rem 3rem 3rem 6rem;
}

.fly-img-wrapper {
    width: 120%;
    height: 100%;
}
.fly-img-right img {
    object-fit: cover;
}

.fly-img-content {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);
}

.fly-img-desc {
    background: linear-gradient(94.06deg, #ffb629 -1.21%, #ffda56 58.66%, #ffd7a6 116.84%);
    position: relative;
    max-width: 300px;
}

.fly-img-desc::before {
    content: "";
    display: block;
    background-color: rgba(255, 255, 255, 0.2);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    width: 70%;
    height: 100%;
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 20% 100%);
}

.card-user-wrapper {
    background-color: #666c89;
    overflow: hidden;
    & > img {
        transition: all 300ms;
        &:hover {
            transform: scale(1.1);
        }
    }
    .card-user-info {
        background-color: var(--bg-main-one);
        position: relative;
        color: #ffffff;
        z-index: 1;
        .card-user-info-desc {
            margin-top: -30px;
        }
    }
    .user-social-media {
        background: linear-gradient(94.06deg, #ffb629 -1.21%, #ffda56 58.66%, #ffd7a6 116.84%);
        padding: 20px 17px;
        position: relative;
        transform: translateY(-50%);
    }
    .user-social-media a .icon {
        filter: invert(9%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(5%) contrast(100%);
    }
}

.contact-form {
    .form-control {
        background-color: rgba($color: #ffffff, $alpha: 0.05);
        color: #ffffff;
        transition: all 300ms;
        &:focus {
            background-color: rgba($color: #ffffff, $alpha: 0.1);
        }
    }
    input::-webkit-input-placeholder {
        color: #efefef;
    }
    input:-moz-placeholder {
        color: #efefef;
    }
}

.card-brand {
    position: relative;
    .brand-bg {
        img {
            width: 100%;
        }
        &::after {
            content: "";
            display: block;
            background: linear-gradient(0deg, rgba(17, 28, 84, 1) 0%, rgba(17, 28, 84, 0) 100%);
            position: absolute;
            inset: 0;
            width: 100%;
            height: 100%;
        }
    }
    .brand-logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        width: auto;
        height: 40px;
        object-fit: contain;
    }
}
